# Python cache files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# SQLite database files
*.sqlite3

# Media files
media/

# Static files
staticfiles/

# Local environment variables
.env

# Python virtual environment
venv/
env/
ENV/
.env/
.venv/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Coverage reports
htmlcov/
*.cover

# Pytest cache
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg
*.whl
